<div class="container mt-4">
    <div class="card-deck">
        {{#each data}}
        <div class="card" style="min-width: 300px">
          <div class="card-body">
            <img src="{{this.pic}}" alt="" class="card-img-top">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{this.name}}</li>
                    <li class="list-group-item">{{this.email}}</li>
                    <li class="list-group-item">{{this.phone}}</li>
                    <li class="list-group-item">{{this.age}}</li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div> 
</div>